@model IEnumerable<Hospital.Models.Patient>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <span style="margin-left:15px">@Html.ActionLink("Search", "Search")</span>
</p>

@Html.Partial("PatientsTable")

